.token.comment {
  color: #727072;
  font-style: italic
}
.token.constant {
  color: #AB9DF2;
  
}
.token.hexcode {
  color: #AB9DF2;
  
}
.token.number {
  color: #AB9DF2;
  
}
.token.builtin {
  color: #AB9DF2;
  
}
.token.char {
  color: #AB9DF2;
  
}
.token.symbol {
  color: #FC9867;
  
}
.token.function {
  color: #A9DC76;
  
}
.token.inserted {
  color: #A9DC76;
  
}
.token.namespace {
  color: #78DCE8;
  
}
.token.class-name {
  color: #78DCE8;
  
}
.token.tag {
  color: #FF6188;
  
}
.token.keyword {
  color: #FF6188;
  
}
.token.operator {
  color: #FF6188;
  
}
.token.deleted {
  color: #FF6188;
  
}
.token.attr-name {
  color: #78DCE8;
  font-style: italic
}
.token.selector {
  color: #78DCE8;
  font-style: italic
}
.token.changed {
  color: #FFD866;
  
}
.token.string {
  color: #FFD866;
  
}
.token.variable {
  color: #C1C0C0;
  
}
.token.punctuation {
  color: #939293;
  
}
.token.property {
  color: #FCFCFA;
  
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}